//! PRINCIPAL

* {
    margin: 1%;
    padding: 1%;
}

// resets
body {
    background-color: var(--darkblue);
    color: var(--lightpink);
}

h1 {
    display: none;
}

h3 {
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

:root {
    --darkblue: #201238;
    --violet: #4f2a81;
    --lightpink: #fce8e7;
    --pink: #f7b6ae;
    --orange: #f66855;
    --lightviolet: rgb(144, 63, 199);
}


i {
    color: black;
    font-size: 1.7em;
}

// Header y burger



.inlineList {
    display: none;
}

header {
    .portada {
        background-color: var(--violet);
        text-align: center;
        border-radius: 20px;
        border-bottom: black 1px double;

        .neon {
            width: 300px;
            height: 300px;
        }
    }

    .navbar {
        .navbar-brand img {
            width: 80px;
            border: 0.9px solid rgba(0, 0, 0, 0.233);
            border-radius: 60px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.438);
        }

    }
}

//Cuerpo de la pagina

main {
    margin-top: 10%;
    background-color: var(--violet);
    border-radius: 20px;

    .principal {
        .contacto {
            text-align: center;
            ul, li {
                list-style: none;
            }
            .contaclist {
                display: block;
            }
        }
    }

}

aside {
    border-top: 1px double black;
    background-color: rgba(160, 160, 179, 0.493);
    text-align: center;

    .auspicia {
        img {
            width: 300px;
            height: 150px;
        }
    }

    p {
        text-decoration: underline black 0.5px;
    }
}

// footer
footer {
    background: black;
    text-align: center;
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    justify-content: center;

    a:hover {
        color: whitesmoke;
    }
}

@media (min-width: 1900px) {
    body {
        .inlineList {
            display: inline;

            a {
                text-decoration: none;
            }
        }
    }
}