//! PRINCIPAL

* {
    margin: 1%;
    padding: 1%;
}

// resets
body {
    background-color: var(--darkblue);
    color: var(--lightpink);
}
h1 {
    display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
:root {
    --darkblue: #201238;
    --violet: #552e8a;
    --lightpink: #fce8e7;
    --pink: #f7b6ae;
    --orange: #f66855;
    --lightviolet: rgb(144, 63, 199);
}

.logo {
    width: 100px;
    border: 0.9px solid rgba(0, 0, 0, 0.233);
    border-radius: 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.438);
}

i {
    color: black;
    font-size: 2.5em;
}

// Header y burger



.inlineList {
    display: none;
}

header {
    display: flex;
    align-content: space-between;
    background-color: rgb(144, 63, 199);
    padding: 2%;
    margin: -2%;
    .portada {
        display: flex;
        align-items: center;
        align-content: space-around;
        h2{
            font-size: 1em;
        }
    }
    a {
        text-decoration: none;
        color: var(--lightpink);
        font-size: 1.7em;
    }



    .burger {
        position: relative;
        display: inline-block;
        margin-left: auto;

        .listoculta {
            display: none;
            position: absolute;
            background-color: var(--orange);
            border-radius: 20px;
            min-width: 160px;
            padding: 12px 16px;
            z-index: 5;
            top: 35px;
            right: -30px;
        }

        .far {
            display: none;
        }

        .listoculta li {
            list-style: none;
        }
    }

    .burger:hover {
        .listoculta {
            display: block;

            a {
                font-size: 1em;
                text-decoration: none;
            }
        }

        .fas {
            display: none;
        }

        .far {
            display: block;
        }
    }
}

//Cuerpo de la pagina

main {
    .principal{
        .contacto{
            display: flex;
            text-align: center;
            .contaclist{
                display: block;
            }
        }
    }
   
}

aside{
    border-top: 1px double black;
    background-color: rgba(160, 160, 179, 0.493);
    text-align: center;
    .auspicia {
        img {
            width: 300px;
            height: 150px;
        }
    }
}

// footer
footer{
    background: black;
    text-align: center;
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    justify-content: center;
    a:hover{
        color: whitesmoke;
    }
}

@media (min-width: 1900px) {
    body {
        .inlineList {
            display: inline;

            a {
                text-decoration: none;
            }
        }
    }
}